In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from pathlib import Path

In [63]:
aq_metrics = 'pm25'

exts = ['2015H1',
'2016H1',
'2017H1',
'2018H1',
'2019Q1',
'2019Q2',
'2019Q3',
'2019Q4',
'2020Q1',
'2020Q2',
'2020Q3',
'2020Q4',
'2021Q1',
'2021Q2',
'2021Q3',
'2021Q4']

# 50111 rows
ext = exts[0]

csvfile = Path(f"Data_Sources/AirQuality/waqi-covid-{ext}.csv")

data_01 = pd.read_csv(csvfile)

reduced_df = data_01.loc[(data_01['Specie'] == aq_metrics),['Date', 'Country', 'City', 'median']]
reduced_df = reduced_df.groupby('Country').mean('median')
reduced_df = reduced_df.rename(columns={'median': 'PM25'})
reduced_df['Year'] = ext[0:4]
reduced_df = reduced_df[['Year', 'PM25']]

# Add a new CSV file to the data frame
for ext in exts[1:]:
    print(f"Index: {ext}")

    csvfile = Path(f"Data_Sources/AirQuality/waqi-covid-{ext}.csv")
    data_01 = pd.read_csv(csvfile)

    new_df = data_01.loc[(data_01['Specie'] == aq_metrics),['Date', 'Country', 'City', 'median']]
    new_df = new_df.groupby('Country').mean('median')
    new_df = new_df.rename(columns={'median': 'PM25'})
    new_df['Year'] = ext[0:4]
    new_df = new_df[['Year', 'PM25']]

    reduced_df = pd.concat([reduced_df, new_df])

# for ext in exts:
#     print(f"Looking at extension: {ext}")
#     csvfile = Path(f"Data_Sources/AirQuality/waqi-covid-{ext}.csv")
#     df_for_ext = pd.read_csv(csvfile)
#     df_for_ext = df_for_ext.loc[(data_01['Specie'] == aq_metrics),['Date', 'Country', 'City', 'median']]

#     reduced_df = pd.merge(reduced_df,df_for_ext,on="Date",how="left")

reduced_df

Index: 2016H1
Index: 2017H1
Index: 2018H1
Index: 2019Q1
Index: 2019Q2
Index: 2019Q3
Index: 2019Q4
Index: 2020Q1
Index: 2020Q2
Index: 2020Q3
Index: 2020Q4
Index: 2021Q1
Index: 2021Q2
Index: 2021Q3
Index: 2021Q4

         Year        PM25
Country
AE       2015  118.714286
AT       2015   52.816000
AU       2015   27.327829
BE       2015   51.058252
BG       2015   72.144737
...       ...         ...
US       2021   31.501034
UZ       2021  138.852632
VN       2021   57.654088
XK       2021   72.908163
ZA       2021   38.395531

[1274 rows x 2 columns]

In [107]:
# Group by country and year
group_by_year = reduced_df.groupby(['Country','Year']).mean()

# Save DataFrame to CSV
group_by_year.to_csv('Cleaned_Datasets/cleaned_airquality.csv')